.handsfree-feedback {
  position: fixed;
  left: 0;
  bottom: 0;
  height: auto;
  width: 350px;
}

.handsfree-video {
  display: block;
  opacity: 0.7;
  z-index: 999;
}

.handsfree-show-when-started button {
  background: #dc5353;
  color: #fff;
}